body {
  padding-top: 120px;
}

h2 {
  margin: .75em 0;
}

h2:target {
  padding-top: 110px;
}

.bg-light {
  background-color: #f1f1f1 !important;
}

a, a:hover {
  color: #dc3545;
}

.flash {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23dc3545' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M7 2v11h3v9l7-12h-4l4-8z'/%3E%3C/svg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23FFEB3B' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M7 2v11h3v9l7-12h-4l4-8z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0, .05em;
  background-size: 1em;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  display: inline-block;
}

.jumbotron {
  padding: 3rem 1.5rem;
  margin-bottom: 0;
  background-color: #fff;
  text-align: left;
}

.btn {
  border-radius: 0 !important;
}

.btn-primary {
  background-color: #2b7d98 !important;
  border-color: #2b7d90 !important;
}

.btn-info {
  background-color: #00aece !important;
  border-color: #00aece !important;
}

.navbar-brand + .bb-dropdowns a[aria-haspopup="true"]:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23dc3545' height='1em' viewBox='0 0 24 24' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3Cpath d='M0-.75h24v24H0z' fill='none'/%3E%3C/svg%3E");        
}

.admin-bar .bb-dropdowns > li {
  margin: .5em 0;
  flex: 1 0 0;
  min-width: 100%;
}

.admin-bar .bb-dropdowns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.admin-bar .bb-dropdowns > li > a {
  display: block;
}

.nav.bb-dropdowns {
  flex-grow: 2;
  justify-content: space-around;
}

.nav.bb-dropdowns > li {
  flex: 1;
}

@media (min-width: 420px) {
  body {
    padding-top: 90px;
  }

  h2:target {
    padding-top: 80px;
  }

  .admin-bar .bb-dropdowns > li {
    margin: .5em;
    min-width: initial;
  }

  .nav.bb-dropdowns {
    flex-grow: 0;
  }

  .jumbotron {
    padding: 6rem 3rem 3rem;
    margin-bottom: 0;
    text-align: center;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.message {
  margin: 0.8em auto;
  padding: 0.2em;
  border-radius: 8px;
  position: relative;
  -webkit-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  display: block;
  animation-name: fadeInUp;
  animation-duration: 2.5s;
  transform: translateY(100px);
  transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
  font-size: 1.2em;
}

.message.bot p {
  margin: 0.5em;
  width: 100%;
}

.message.bot:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -1em;
  right: auto;
  top: 0.6em;
  bottom: auto;
  border: 12px solid;
  border-color: #000 #000 transparent transparent;
}

.message.bot {
  background-color: #000;
  color: #fff;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}